


a{
    display: block;
    padding: 8px;
}

h1{
    text-align: center;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #F7E3E2;
}

li{
     min-width: 200px;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}


li a:hover{
    background-color: pink;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:hover{
    color: orange;
}
a:visited:active{
    color:red;
}
p:last-of-type{
    margin-bottom: 50px;
}
p:first-of-type{
    color: #7E8184;
    font-style: italic;
}
.button {
  font-family: "Helvetica", "Arial", sans-serif;
  color: black;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
#button-2{
    color: red; /*dark gray*/
}
#button-3{
    color: orange;
}
#button-4{
    color: yellow:;
}
#button-5{
    color: green;
}
#button-6{
    color: blue;
}
#button-7{
    color: indigo;
}
#button-8{
    color: violet;
    
}
.button:link, .button:visited{
    display: block;
    text-decoration: none;
    
    font: Tahoma, Georgia, Courier New;
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    
    width: 200px;
    margin: 20px auto;
}
.button:active, .button:visited:active{
    color: #FFF;
    background-color: #5995DA; /*blue*/
}
    
